<% if current_user.account.present? %>
  <% controller.redirect_to user_account_path(current_user, current_user.account) %>
<% else %>
  <h1> My Account</h1>
  <p>Enter in bank account to create your new account!</p>
  <%= button_to "Bank Account", new_user_account_path(current_user), method: :get, class: "btn btn-success" %>
<% end %>
