<h1>New account</h1>

<p> Hello, welcome to our bank! </p>
<p> Are you prepared to join us? </p>
<br>

<div>
  <%= button_to "Open Account", user_accounts_path(current_user), method: :post, class: "btn btn-success" %>
</div>
